/* page */
body {
    display: flex;
    flex-direction: column;
}


/* header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #1F2937;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.secondary {
    font-size: 18px;
    color: #E5E7EB;
}
/* links */
ol {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}
a {
    text-decoration: none;
}


/* section 1 */
.section1 {
    display: flex;
    /* space-around */
    justify-content: center;
    /* align-items: center; */

    background-color: #1F2937;
}
.one-container {
    display: flex;
    margin: 50px 100px;
}
.left {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 450px;
    height: 250px;
    padding-right: 50px;
}
.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF9;
}
.button {
    padding: 5px 20px;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 5px;
    font-weight: bold;
}
.right {
    display: flex;
    width: 450px;
    height: 250px;

    color: #E5E7EB;
    background-color: #6D747D;
}


/* section 2 */
.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.four-container {
    display: flex;
    flex-direction: rows;
    justify-content: space-around;
}
.four-one, .four-two, .four-three, .four-four {
    display: flex;
    flex-direction: column;
    margin: 30px;
    flex-wrap: wrap;
    max-width: 180px;
}
.four-images {
    display: flex;
    width: 180px;
    height: 180px;
    outline: solid #3882F6 5px;
    border-radius: 20px;
}


/* section 3 */
.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
}
.three-container {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}
.bottom {
    display: flex;
    align-self: end;
}
/* display: flex; */
/* padding: 200px 300px; */



/* section 4 */
.section4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
}
.blue-box {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 20px;
    padding: 50px 200px;
    margin: 80px 100px;
    gap: 150px;
}
.four-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    
    color: #E5E7EB;
}
.four-right {
    display: flex;
    align-items: center;
}


/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: end;

    background-color: #1F2937;
    color: #E5E7EB;
}